*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   font-family: inter;
}
:root{
   --Off-white: hsl(36, 100%, 99%);
   --Grayish-blue: hsl(233, 8%, 79%);
   --Dark-grayish-blue: hsl(236, 13%, 42%);
   --Very-dark-blue: hsl(240, 100%, 5%);
   --Soft-orange: hsl(35, 77%, 62%);
   --Soft-red: hsl(5, 85%, 63%);
   --paragraph: 15px;

}
body{
   background-color: hsl(36, 100%, 99%);

}
nav{
   display: flex;
   justify-content: space-between;
   padding: 10px 200px;
   text-align: center;
   align-items: center;
}
@media (max-width: 375px){
   nav{
      display: none;
   }
}
nav img{
   width: 55px;
}
nav ul{
   display: flex;
   
}
nav ul li {
   padding: 15px;
}
nav ul li a{
   color: hsl(236, 13%, 42%);
   
}
nav ul li a:hover{
   color: hsl(5, 85%, 63%);
   transition: 0.4s;
}
@media (max-width: 375px){
   ul{
      display: none;
   }
   ul li{
      display: none;
   }
}
.container{
   padding: 10px 200px;
   display: flex;
   width: 100%;
   height: 600px;
}
@media screen (max-width: 375px){
   .container{
      padding: 0;

   }
}
.container .s1 {
   margin-right: 35px;
   
}
.container .s1 img{
   width: 100%;
   height: 45%;
   margin-bottom: 15px;
}
.container .s1 .content {
   display: flex;
   margin-top: 20px;
}
.container .s1 .content h1{
   color: var(--Very-dark-blue);
   padding-right: 20px;
   font-size: 3.5em
}
.container .s1 .content .more{
   width: 100%;
}
.container .s1 .content .more p{
   font-size: 15px;
   color: var(--Dark-grayish-blue);
   margin-bottom: 35px;
   line-height: 1.8;
}
.container .s1 .content .more button{
   background-color: var(--Very-dark-blue);
   padding: 13px 30px;
   color: white;
   font-weight: 500;
   font-size: 1em;
   letter-spacing: 4px;
   cursor: pointer;
}

.container .s2{
   background-color: var(--Very-dark-blue);
   padding: 25px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   height: 499px;
}
.container .s2 h1{
   color: var(--Soft-orange);
   margin-bottom: 20px;
}
.container .s2 .all{
   margin-bottom: 15px;
   border-bottom: solid 1px var(--Dark-grayish-blue);
}
.container .s2 .text3{
   border-bottom: none;
}
.container .s2 .all a{
   color: white;
}
.container .s2 .all a:hover{
   color: var(--Soft-orange);
   transition: 0.4s;
}
.container .s2 .all p{
   color: var(--Dark-grayish-blue);
   font-size: var(--paragraph);
   margin-bottom: 10px;
   margin-top: 10px;
   line-height: 1.2;
}
.container .main{
   display: flex;
}
.container .main .content{
   display: flex;
   padding: 10px;
   
}
.container .main .content img{
   width: 110px;
   height: 150px;
}
.container .main .content .text{
   margin-left: 20px;
} 
.text h1{
   color: var(--Grayish-blue);
}
.text a {
   font-weight: bold;
   color: var(--Dark-grayish-blue);
   margin-bottom: 25px;
}
.text p{
   line-height: 1.3;
   margin-top: 15px;
   color: var(--Grayish-blue);
}
@media (max-width: 375px) {
   
}